include _mixins
doctype
html(lang="en")
	if templateName
		<!-- InstanceBegin template="/Templates/#{templateName}.dwt" codeOutsideHTMLIsLocked="false" -->
	head
		meta(charset="utf-8")
		+dwcStart("doctitle")
		title= title
		+dwcEnd
		+dwcStart("head")
		meta(name="keywords" content="#{keywords}")
		meta(name="description" content="#{description}")
		+dwcEnd
		link(rel="stylesheet" href="/css/main.css")
	body
		block main
			!= partial("_header")
		!= yield
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/custom.js")
	if templateName
		<!-- InstanceEnd -->
